@charset "utf-8";

html *,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.7;
	scroll-behavior: smooth;
	scroll-margin-top: 80px;
}
body {
	font-family: "Noto Sans JP", sans-serif;
	line-height: 2;
	background: #fefbf4;
	--main-co-color: #9ec2c2;
	color: #2c2319;
}
.en {
	font-family: "Tiro Kannada", serif;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
@media (max-width: 776px) {
	html {
		font-size: 16px;
		line-height: 1.3;
	}
}

/*------------------- ヘッダー -------------------*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
}
.header-nav-wrap {
	position: relative;
	height: 70px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--main-co-color);
	text-transform: capitalize;
}
.header-nav-wrap::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 330px;
	height: 160px;
	background-color: var(--main-co-color);
	border-bottom-left-radius: 170px;
	border-bottom-right-radius: 170px;
	z-index: 2;
}
.logo {
	position: absolute;
	width: 210px;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 3;
}
.icon-btn,
.header-nav-sp {
	display: none;
}
.nav-left,
.nav-right {
	display: flex;
	column-gap: 20px;
	margin: 0;
	padding: 0;
}
.header-nav {
	padding: 10px 5% 0;
}
.header-nav .dropdown,
.header-nav-sp .dropdown {
	position: relative;
	display: inline-block;
	padding: 5px 30px;
	font-family: "Tiro Kannada", serif;
	font-weight: bold;
	font-size: 1.3rem;
	letter-spacing: 1px;
	cursor: pointer;
}
.header-nav .dropdown a {
	transition: .3s;
}
.header-nav .dropdown a:hover {
	color: #fefbf4;
}
.header-nav .dropdown .dropdown-menu a:hover {
	color: #bbb;
}
.header-nav .dropdown-menu,
.header-nav-sp .dropdown-menu {
	position: absolute;
	left: 20px;
	top: 40px;
	max-width: 150px;
	font-family: "Noto Sans JP", sans-serif;
	z-index: 99;
	display: none;
}
.header-nav .dropdown-menu li {
	display: block;
	margin: 3px auto;
	padding: 5px 10px;
	background: #fefbf4;
	border: 1px solid #bbb;
	font-size: .9rem;
}
.header-nav .nav-btn-wrap,
.header-nav .cart-btn-wrap,
.header-nav .open {
	display: block;
}
.header-nav .close {
	display: block;
}
.arrow::after {
	content:'';
	position: absolute;
	top: 25%;
	width: 7px;
	height: 7px;
	margin: 7px 0 0 7px;
	border-top: 2px solid #555;
	border-right:2px solid #555;
	transform: rotate(135deg);
}
@media (max-width: 1500px) {
	.header-nav {
		padding: 0 10px;
	}
	.header-logo {
		padding: 0 5px;
	}
	.header-nav .dropdown {
		padding: 5px 20px;
		font-size: 1rem;
	}
}
@media (max-width: 1200px) {
	.header-logo {
		padding: 0 5px;
	}
	.header-nav .dropdown {
		padding: 5px 10px;
	}
}
/*タブレット用の設定*/
@media (max-width: 1080px) {
	header {
		position: relative;
		width: 100%;
	}
	.header-nav-wrap {
		height: 60px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 10;
		align-items: flex-start;
		padding: 0 10px 1px;
	}
	.header-nav-wrap::after {
		width: 250px;
		height: 120px;
		border-bottom-left-radius: 120px;
		border-bottom-right-radius: 120px;
	}
	.logo {
		width: 170px;
		top: 22%;
		left: 50%;
	}
	.icon-btn {
		display: block;
		background: none;
		border: none;
		z-index: 1;
	}
	.cart-btn-wrap {
		display: block;
		position: absolute;
		top: 17px;
		left: 20px;
		font-size: 1.5rem;
	}
	.nav-btn-wrap {
		display: block;
		position: absolute;
		right: 0;
		top: 5px;
		height: 50px;
		padding: 15px;
	}
	.cart-btn-wrap.active,
	.nav-btn-wrap.active {
		z-index: 99;
	}
	.header-nav,
	.header-nav-sp {
		display: none;
	}
	.header-nav-sp .dropdown {
		padding: 15px 0;
		font-size: 1.5rem;
	}
	.header-nav-sp .close {
		display: none;
	}
	.header-nav-wrap.open .header-nav-sp:not(.close) {
		display: block;
		padding: 12% 0 0 12%;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		background: var(--main-co-color);
		overflow: scroll;
		z-index: 50;
	}
	.header-nav-wrap.open .header-nav-sp li {
		display: block;
	}
	.header-nav-wrap.open .header-nav-sp li:hover {
		background: transparent;
	}
	.header-nav-wrap.open .header-nav-sp .pc {
		display: none;
	}
	.header-nav-wrap.open .header-nav-sp .dropdown-menu {
		display: block;
		position: static;
		background: transparent;
	}
	.header-nav-wrap.open .header-nav-sp .dropdown-menu li {
		padding: 10px 20px;
		color: #555;
		font-size: .95rem;
		white-space: nowrap;
	}
	.arrow::after {
		display: none;
	}
	.nav-btn,
	.nav-btn span {
		display: inline-block;
		margin: 0;
		transition: all .3s;
	}
	.nav-btn {
		position: relative;
		width: 25px;
		height: 25px;
		z-index: 150;
	}
	.nav-btn span {
		position: absolute;
		top: 0;
		left: -10px;
		width: 100%;
		height: 3px;
		background: #2c2319;
		border-radius: 4px;
	}
	.nav-btn span:nth-of-type(1) {
		top: 0;
	}
	.nav-btn span:nth-of-type(2) {
		top: 8px;
	}
	.nav-btn span:nth-of-type(3) {
		top: 16px;
	}
	.active .nav-btn span {
		background: #2c2319;
	}
	.active .nav-btn span:nth-of-type(1) {
		transform: translateY(10px) rotate(-45deg);
	}
	.active .nav-btn span:nth-of-type(2) {
		opacity: 0;
	}
	.active .nav-btn span:nth-of-type(3) {
		transform: translateY(-6px) rotate(45deg);
	}
}
/*スマホ用の設定*/
@media (max-width: 767px) {
	.header-nav-wrap {
		height: 50px;
	}
	.header-nav-wrap::after {
		width: 150px;
		height: 90px;
		border-bottom-left-radius: 70px;
		border-bottom-right-radius: 70px;
	}
	.logo {
		width: 110px;
		top: 15%;
		left: 50%;
	}
	.cart-btn-wrap {
		display: block;
		position: absolute;
		top: 17px;
		left: 20px;
		font-size: 1.5rem;
	}
	.nav-btn-wrap {
		display: block;
		position: absolute;
		right: 0;
		top: 5px;
		height: 50px;
		padding: 15px;
	}
	.header-nav-sp .dropdown {
		margin: 5px auto;
		padding: 10px 0;
		font-size: 2rem;
	}
	.header-nav-wrap.open .header-nav-sp .dropdown-menu li {
		margin: 10px auto;
		font-size: 1.2rem;
	}
}


/*------------------- フッター -------------------*/
.footerwraper {
	padding: 20px 20px 10px;
	background: var(--main-co-color);
}
.footer-logo {
	display: block;
	width: 12%;
	margin: 0 auto;
}
.footer-nav {
	margin: 0 auto;
}
.footer-nav ul li a {
	padding: 30px 20px;
	transition: .3s;
}
.footer-nav ul li a:hover {
	opacity: .3;
}
.footer-nav-main,
.footer-nav-sub {
	display: flex;
	justify-content: center;
	margin: 20px auto;
}
.footer-nav-main {
	font-size: 2rem;
	font-weight: bold;
}
.footer-nav-sub {
	font-size: .9rem;
}
.footer-copy {
	pading-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--main-co-color);
	font-size: .7rem;
}
@media (max-width: 767px) {
	.footerwraper {
		padding: 5px 20px;
	}
	.footer-logo {
		width: 50%;
	}
	.footer-nav {
		padding: 20px 0 10px;
	}
	.footer-nav ul li {
		margin: 20px auto;
	}
	.footer-nav ul li a {
		padding: 20px 5px;
		text-align: center;
	}
	.footer-nav-main {
		font-size: 2.5rem;
	}
	.footer-nav-sub {
		margin: 10px auto;
		flex-direction: column;
		align-items: center;
		font-size: 1rem;
	}
}


/*------------------- 共通設定 -------------------*/
.main {
	width: 100%;
	overflow: hidden;
}
.main-container section {
	margin: 0 auto;
	padding: 90px 20px;
}
.main-container .section-inner {
	max-width: 1200px;
	margin: 0 auto;
}
@media (max-width: 767px) {
	.main-container section {
		padding: 70px 20px;
	}
}
.padding-top {
	padding-top: 100px;
}
@media (max-width: 767px) {
	.padding-top {
		padding-top: 25px;
	}
}
.bg {
	background: var(--main-co-color);
}
.img-center {
	display: block;
	margin: 0 auto;
}

/* 見出し */
.title {
	margin-bottom: 50px;
	text-align: left;
	line-height: 1;
}
.title .en {
	font-size: 4.6rem;
	letter-spacing: 2px;
}
.title .jp {
	font-size: 1.3rem;
	font-weight: 400;
	color: #555;
}
.title-small {
	margin-bottom: 50px;
	text-align: left;
	line-height: 1;
}
.title-small .en {
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: 2px;
}
.title-small .jp {
	font-size: 1rem;
	font-weight: 400;
	color: #555;
}
.title-borderLeft {
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 5px solid var(--main-co-color);
	font-size: 1.3rem;
}
@media screen and (max-width:767px) {
	.title .en {
		font-size: 3.5rem;
	}
	.title .jp {
		font-size: 1.2rem;
	}
	.title-small .en {
		font-size: 2rem;
	}
	.title-small .jp {
		font-size: 1rem;
	}
}

/* ボタン */
.link-btn {
	position: relative;
	display: block;
	width: 200px;
	margin: 80px auto 0;
	padding: 7px 30px 4px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border: 1px solid #2c2319;
	outline: none;
	transition: all .2s linear;
}
.link-btn:hover {
	background: rgba(255, 255, 255, .3);
}
.link-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	right: -35px;
	width: 50px;
	height: 1px;
	background: #2c2319;
	transition: all .2s linear;
}
.link-btn::after {
	content: "";
	position: absolute;
	top: 25%;
	right: -30px;
	width: 1px;
	height: 12px;
	background: #2c2319;
	transform: skewX(45deg);
	transition: all .2s linear;
}
.link-btn:hover::before {
	right: -45px;
}
.link-btn:hover::after {
	right: -40px;
}

.link-btn-back::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -35px;
	width: 50px;
	height: 1px;
	background: #2c2319;
	transition: all .2s linear;
}
.link-btn-back::after {
	content: "";
	position: absolute;
	top: 25%;
	left: -30px;
	width: 1px;
	height: 12px;
	background: #2c2319;
	transform: skewX(-45deg);
	transition: all .2s linear;
}
.link-btn-back:hover::before {
	left: -45px;
}
.link-btn-back:hover::after {
	left: -40px;
}

/* スクロールアニメ */
.fadein-anime,
.fadeup-anime,
.fadeup-anime2 {
	opacity: 0;
}
.fadein-anime.blockIn {
	animation: fadeInAnime .7s forwards;
}
@keyframes fadeInAnime {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fadeup-anime.blockIn {
	animation: fadeUpAnime .7s forwards;
}
.fadeup-anime2.blockIn {
	animation: fadeUpAnime 1.3s forwards;
}
@keyframes fadeUpAnime {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}



/********************* トップページ *********************/
.hero {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background: var(--main-co-color);
	overflow: hidden;
}
.hero-img {
	position: absolute;
	top: 52%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-image: url("../images/top.jpg");
	background-size: cover;
	width: 90%;
	height: 85vh;
	background-position: center center;
	border-radius: 20px;
}
@media (max-width: 885px) {
	.hero {
		height: 80vh;
	}
	.hero-img {
		height: 70vh;
	}
}
@media (max-width: 767px) {
	.hero {
		height: 100vh;
	}
	.hero-img {
		height: 85vh;
	}
}


#about {
	width: 60%;
	margin: 0 auto;
	font-size: 1.2rem;
	overflow: hidden;
}
#about .about-text1 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
#about .about-text1 img {
	margin-left: 30px;
	border-radius: 20px;
	z-index: -1;
}
#about .about-text2 {
	margin: -15% auto 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: space-between;
}
#about .about-text2 img {
	margin-right: 15px;
	border-radius: 20px;
	z-index: -1;
}
#about .about-text p {
	margin-bottom: 50px;
}
@media (max-width: 1450px) {
	#about {
		width: 80%;
	}
}
@media (max-width: 1200px) {
	#about {
		width: 100%;
	}
}
@media (max-width: 885px) {
	#about .about-text1 img {
		width: 45%;
	}
	#about .about-text2 {
		margin: 0 auto;
	}
	#about .about-text2 img {
		width: 45%;
	}
}
@media (max-width: 767px) {
	#about {
		font-size: 1rem;
	}
	#about .about-text1,
	#about .about-text2 {
		flex-direction: column;
	}
	#about .about-text1 img {
		width: 90%;
		margin-left: 25%;
		margin-top: -25%;
	}
	#about .about-text2 {
		margin: -15% auto 0;
	}
	#about .about-text2 img {
		width: 90%;
		margin: -10px auto 0;
	}
}


#news {
	position: relative;
	background-image: url("../images/newsbg.jpg");
	background-repeat: no-repeat;
	background-size: 100% cover;
	width: 100%;
	height: auto;
	background-position: center center;
	margin: 0 auto;
	border-collapse: collapse;  
}
#news a.news {
	position: relative;
	transition: .3s;
}
#news a.news::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	width: 50px;
	height: 1px;
	background: #2c2319;
	transition: all .2s linear;
}
#news a.news::after {
	content: "";
	position: absolute;
	top: 42%;
	right: 20px;
	width: 1px;
	height: 12px;
	background: #2c2319;
	transform: skewX(45deg);
	transition: all .2s linear;
}
#news a.news:hover {
	opacity: .7;
}
#news a.news:hover::before {
	right: 0px;
}
#news a.news:hover::after {
	right: 5px;
}
#news .news-container {
	width: 80%;
	margin: 0 auto;
}
#news .news-contents {
	padding: 20px 0;
	display: flex;
	border-bottom: 1px solid #2c2319;
}
#news .news-contents img {
	width: 15%;
	height: auto;
	margin-right: 30px;
}
#news .news-text-sub {
	display: flex;
	margin-bottom: 20px;
}
#news .news-text-sub .date {
	font-size: .9rem;
}
#news .news-text-sub .class {
	margin-left: 20px;
	padding: 0 20px;
	border: 1px solid #2c2319;
	font-size: .85rem;
	letter-spacing: 1px;
}
#news .news-text-main {
	font-size: 1.1rem;
}
#news .news-text-main span {
	display: inline-block;
}
@media (max-width: 767px) {
	#news a.news::before {
		//width: 30px;
		display: none;
	}
	#news a.news::after {
		//top: 40%;
		//height: 8px;
		display: none;
	}
	#news .news-container {
		width: 100%;
	}
	#news .news-contents {
		padding: 15px 0;
		align-items: center;
	}
	#news .news-contents img {
		width: 64px;
		height: 45px;
		margin-right: 10px;
	}
	#news .news-text-sub {
		margin-bottom: 7px;
	}
	#news .news-text-sub .date {
		font-size: .8rem;
	}
	#news .news-text-sub .class {
		font-size: .7rem;
	}
	#news .news-text-main {
		font-size: 1rem;
	}
}

.list-zoomin {
	width: 100%;
	margin: 50px auto;
	display: grid;
	grid-row-gap: 50px;
	grid-column-gap: 30px;
	justify-content: center;
}
.list-zoomin span img {
	display: block;
	margin: 0 auto;
	transform: scale(1);
	transition: .3s ease-in-out;
	border-radius: 50%;
}
.item-list {
	grid-template-columns: repeat(3, 1fr);
}
.shop-list {
	grid-template-columns: repeat(4, 25%);
}
.zoomIn {
	position: relative;
}
.zoomIn a:hover span img {
	transform: scale(1.2);
}
.mask {
    display: block;
    line-height: 0;
    overflow: hidden;
	border-radius: 50%;
}
.mask2 {
	display: block;
    line-height: 0;
    overflow: hidden;
}
.list-zoomin figcaption {
	margin: 12px auto;
	text-align: center;
	font-size: 1.4rem;
	letter-spacing: 2px;
	white-space: nowrap;
	line-height: 1.4;
}
.list-zoomin .icon {
	display: flex;
	justify-content: flex-start;
	width: 14%;
}
.list-zoomin .icon img {
	margin: 5px 10px 0 0;
}
@media (max-width: 1400px) {
	.list-zoomin {
		grid-row-gap: 40px;
		grid-column-gap: 20px;
	}
	.shop-list {
		grid-template-columns: repeat(3, 33%);
	}
}
@media (max-width: 768px) {
	.list-zoomin {
		grid-row-gap: 25px;
		grid-column-gap: 20px;
	}
	.item-list {
		grid-template-columns: repeat(2, 50%);
	}
	.shop-list {
		grid-template-columns: repeat(2, 50%);
	}
	.list-zoomin figcaption {
		font-size: 1.1rem;
		letter-spacing: 0;
	}
	.list-zoomin .icon img {
		margin: 1px 6px 0 0;
	}
}

.recruit {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.recruit img {
	margin-left: 30px;
	border-radius: 20px;
}
@media (max-width: 767px) {
	.recruit {
		flex-direction: column;
	}
	.recruit img {
		margin: 0 auto;
	}
	.recruit .link-btn {
		margin: 30px auto;
	}
}


/********************* ニュース一覧・メディアページ *********************/
.allnews-container {
	margin: 80px auto 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 50px;
	grid-column-gap: 30px;
}
.allnews-container span img {
	display: block;
	margin: 0 auto;
	transform: scale(1);
	transition: .3s ease-in-out;
}
.allnews-container figcaption {
	font-size: 1.1rem;
	line-height: 1.5;
}
.allnews-container figcaption a {
	color: #555;
	border-bottom: 1px solid #bbb;
	transition: .3s;
}
.allnews-container figcaption a:hover {
	opacity: .5;
}
.allnews-container .news-text-sub {
	display: flex;
	margin: 15px 0 10px;
}
.allnews-container .news-text-sub .date {
	font-size: .85rem;
}
.allnews-container .news-text-sub .class {
	margin-left: 20px;
	padding: 0 20px;
	border: 1px solid #2c2319;
	font-size: .8rem;
	letter-spacing: 1px;
}
@media (max-width: 767px) {
	.allnews-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.allnews-container .news-text-sub {
		margin-bottom: 7px;
	}
	.allnews-container .news-text-sub .date {
		font-size: .8rem;
	}
	.allnews-container .news-text-sub .class {
		font-size: .7rem;
	}
}


/********************* ニュース詳細ページ *********************/
.singlenews-container {
	width: 75%;
	margin: 50px auto;
}
.singlenews-container .singlenews-title {
	margin: 50px auto 30px;
}
.singlenews-container .singlenews-title h3 {
	font-size: 2rem;
	line-height: 1.5;
}
.singlenews-container .news-text-sub {
	display: flex;
	margin: 15px 0 10px;
}
.singlenews-container .news-text-sub .date {
	font-size: .95rem;
}
.singlenews-container .news-text-sub .class {
	margin-left: 20px;
	padding: 0 20px;
	border: 1px solid #2c2319;
	font-size: .9rem;
	letter-spacing: 1px;
}
.singlenews-container .news-thumbnail {
	display: block;
	margin: 30px auto;
}
.singlenews-container .singlenews-text {
	margin: 50px auto;
}
.singlenews-container .singlenews-text p {
	margin-bottom: 20px;
}
.singlenews-container h4 {
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 5px solid var(--main-co-color);
	font-size: 1.3rem;
}
.singlenews-img {
	display: flex;
	justify-content: center;
}
.singlenews-img img:nth-of-type(1) {
	margin-right: 10px;
}
.new-item,
.yoyaku-mail {
	margin: 50px auto 80px;
}
.new-item p {
	margin: 20px auto 30px;
}
.new-item .assort-list {
	margin: 30px auto;
	padding: 12px 20px 5px;
	border: 1px solid #bbb;
}
.new-item .assort-list h5 {
	font-size: 1rem;
}
.new-item .assort-list ul {
	margin-left: 30px;
	list-style: disc;
}
.new-item .assort-list p {
	margin: 10px 0 10px 10px;
}
.yoyaku-mail ul {
	margin-bottom: 20px;
}
.yoyaku-mail a {
	border-bottom: 1px solid #bbb;
	padding: 0 8px;
}
@media (max-width: 1114px) {
	.singlenews-container {
		width: 100%;
	}
}
@media (max-width: 885px) {
	.singlenews-img {
		flex-direction: column;
	}
	.singlenews-img img:nth-of-type(1) {
		margin-right: 0;
		margin: 10px auto 15px;
	}
	.singlenews-img img:nth-of-type(2) {
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	.singlenews-container .singlenews-title h3 {
		font-size: 1.6rem;
	}
}

/********************* 商品情報ページ *********************/
.item-title {
	position: relative;
	margin: 100px auto 0;
}
.item-title .item-img {
	position: absolute;
	background-size: cover;
	width: 250px;
	height: 250px;
	right: 70px;
	top: 0;
	opacity: .5;
}
.item-title .item-img-bread {
	background-image: url("../images/bread.png");
}
.item-title .item-img-scone {
	background-image: url("../images/scone.png");
}
.item-title .item-img-bakedsweets {
	background-image: url("../images/bakedsweets.png");
}
.iteminfo-contents {
	margin: 50px auto 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 20px;
}
.iteminfo-contents figure {
	position: relative;
	padding: 10px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 2px 2px 10px #bbb;
	text-align: center;
}
.iteminfo-contents figure.classic {
	background: var(--main-co-color);
}
.iteminfo-contents figure img {
	margin: 0 auto;
}
.iteminfo-contents figure figcaption h4 {
	margin: 10px auto;
	font-size: 1.1rem;
	line-height: 1.2;
}
.iteminfo-contents figure figcaption h4 span {
	/*商品名が8文字以上の時は変な位置で改行されないようspanでくくる*/
	display: inline-block;
}
.iteminfo-contents figure figcaption .text {
	display: block;
	font-size: .95rem;
	line-height: 1.5;
	text-align: left;
}
.iteminfo-contents figure figcaption .cal {
	position: relative;
	display: block;
	padding: 30px 10px 0;
	font-size: .8rem;
}
.iteminfo-contents figure figcaption .cal::before {
	border-top: 1px dashed #bbb;
	content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.iteminfo-contents figure.classic figcaption .cal::before {
	border-top: 1px dashed #fff;
}
.iteminfo-contents figure.limited::after {
	position: absolute;
    top: -10px;
	left: -10px;
    width: 60px;
	height: 60px;
    border-radius: 50%;
	color: #fff;
	font-size: .9rem;
	line-height: 4;
	text-align: center;
}
.iteminfo-contents figure.limited1::after {
	content: '1月予定';
	background-color: #d87176;
}
.iteminfo-contents figure.limited2::after {
	content: '2月予定';
	background-color: #556893;
}
.iteminfo-contents figure.limited3::after {
	content: '3月予定';
	background-color: #efdfab;
}
.iteminfo-contents figure.limited4::after {
	content: '4月予定';
	background-color: #ea92b4;
}
.iteminfo-contents figure.limited5::after {
	content: '5月予定';
	background-color: #9cbc96;
}
.iteminfo-contents figure.limited6::after {
	content: '6月予定';
	background-color: #b995ba;
}
.iteminfo-contents figure.limited7::after {
	content: '7月予定';
	background-color: #93c6cc;
}
.iteminfo-contents figure.limited8::after {
	content: '8月予定';
	background-color: #457fc4;
}
.iteminfo-contents figure.limited9::after {
	content: '9月予定';
	background-color: #e0bb53;
}
.iteminfo-contents figure.limited10::after {
	content: '10月予定';
	background-color: #db945e;
}
.iteminfo-contents figure.limited11::after {
	content: '11月予定';
	background-color: #bfa977;
}
.iteminfo-contents figure.limited12::after {
	content: '12月予定';
	background-color: #51893d;
}
.itemlist-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.itemlist-container ul {
	margin-left: 10%;
	display: flex;
	text-align: center;
}
.itemlist-container ul li {
	padding: 0 30px;
}
.itemlist-container span img {
	display: block;
	margin: 0 auto;
	transform: scale(1);
	transition: .3s ease-in-out;
	border-radius: 50%;
}
.fixed-shop-menu {
	position: fixed;
	right: 20px;
	bottom: 10px;
	text-align: center;
	z-index: 50;
}
#toggleButton {
	position: relative;
	width: 120px;
	height: 120px;
	background: rgba(158, 194, 194, .8);
	border: 1px solid #fefbf4;
	border-radius: 50%;
	font-size: 1.3rem;
	line-height: 1.1;
	cursor: pointer;
}
.menu {
	position: absolute;
	bottom: 100%;
	right: 0;  
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.menu a {
	padding: 15px 5px;
	background: var(--main-co-color);
	border: 1px solid #fefbf4;
	font-size: .9rem;
	line-height: 1;
	text-decoration: none;
	transition: .3s;
}
.menu a:hover {
	opacity: .5;
}
.menu a span {
	display: inline-block;
}
.menu.hidden {
  display: none;
}@media (max-width: 885px) {
	.item-title .item-img {
		right: -10px;
		opacity: .2;
	}
	.iteminfo-contents figure figcaption h4 {
		margin: 10px auto 15px;
	}
	.menu {
		gap: 7px;
	}
}
@media (max-width: 767px) {
	.item-title {
		margin: 80px auto 0;
	}
	.item-title .item-img {
		width: 200px;
		height: 200px;
	}
	.iteminfo-contents {
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 20px;
		grid-column-gap: 15px;
	}
	.iteminfo-contents figure .text {
		margin-left: 3px;
		font-size: .9rem;
	}
	.iteminfo-contents figure .cal {
		text-align: left;
	}
	.iteminfo-contents figure.limited::after {
		top: -5px;
		left: -5px;
		width: 60px;
		height: 60px;
		font-size: .8rem;
		line-height: 4.5;
	}
	.itemlist-container {
		flex-direction: column;
	}
	.itemlist-container ul {
		margin-left: 0;
	}
	.fixed-shop-menu {
		right: 5px;
		bottom: 5px;
	}
	#toggleButton {
		width: 80px;
		height: 80px;
		font-size: 1rem;
	}
	.menu a {
		padding: 10px 5px;
		font-size: .8rem;
	}
}


/********************* スコーンの温め方・保存方法ページ *********************/
.sconehowto-container h4 {
	margin: 70px auto 10px;
}
.sconehowto-container h5 {
	display: inline-block;
	margin: 10px 0;
	padding: 4px 10px;
	border: 1px solid #bbb;
	font-size: 1.1rem;
	color: #AAA8A5;
}
.stepbar {
	margin: 0 auto;
	width: 95%;
}
.stepbar .stepbarwrap {
	margin: 0 0 2em;
	position: relative;
}
.stepbar .stepbarwrap .steptitle {
	display: inline-flex;
	align-items: center;
}
.stepbar .stepbarwrap .steptitle .stepcircle {
	display: inline-block;
	width: 3em;
	height: 3em;
	content: "";
	border-radius: 50%;
	background: var(--main-co-color);
	color: #fff;
	text-align: center;
}
.stepbar .stepbarwrap .steptitle .stepcircle span {
	position: relative;
	display: inline-block;
	font-size: .8em;
	line-height: 1.1em;
	font-weight: bold;
	top: .9em;
}
.stepbar .stepbarwrap .steptitle .title {
	margin: .5em;
	font-size: 1.2em;
	font-weight: bold;
}
.stepbar .stepbarwrap .steptxt {
	padding-left: 3.5em;
}
.stepbar .stepbarwrap .stepline {
	position: absolute;
	width: 1px;
	height: calc(100% + 1em);
	background-color: #bbb;
	top: 1em;
	left: 1.5em;
	z-index: -1;
}
.stepbarwrap:last-of-type .stepline:last-of-type {
	display: none;
}


/********************* 店舗情報ページ *********************/
.shop-title {
	margin: 100px auto 0;
}
.shop-title p {
	font-size: 1.2rem;
	line-height: 1;
}
.shop-title .shop-title-jp {
	display: flex;
	align-items: flex-end;
}
.shop-title h3 {
	font-size: 3rem;
	line-height: 1.5;
}
.shop-title .icon {
	margin-left: 30px;
	display: flex;
}
.shop-title .icon img {
	width: 50px;
	height: 50px;
	margin: 0 3px;
}
.shopinfo-contents {
	margin: 50px auto 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.shopinfo-contents-img {
	margin: 0 auto;
	max-width: 45%;
	flex-basis: 45%;
}
.shopinfo-contents-img li {
	border: 2px solid #f4f4f4;
}
.shopinfo-slider img {
	width: 100%;
	height: auto;
}
.shopinfo-thumbnail .slick-track {
	transform: unset !important;
}
.shopinfo-thumbnail li {
	opacity: .3;
	transition: opacity .3s linear;
}
.shopinfo-thumbnail .slick-current {
	opacity: 1;
}
.shopinfo-contents-text {
	margin-left: 50px;
	flex-basis: 55%;
}
.shopinfo-contents dl {
	display: flex;
	align-items: center;
	padding: 15px 5px;
	border-bottom: 1px solid #bbb;
}
.shopinfo-contents dt {
	flex-basis: 25%;
	font-size: .9rem;
	color: #555;
}
.shopinfo-contents dd {
	flex-basis: 75%;
	line-height: 1.4;
}
.shopinfo-contents dd a {
	transition: .3s;
}
.shopinfo-contents dd a:hover {
	opacity: .5;
}
.shopinfo-contents dd .sns-link i {
	padding-right: 20px;
	font-size: 1.5rem;
}
.shopmap-container iframe {
	width: 100%;
	height: 45vh;
}
.shoplist-container {
	display: flex;
}
.shoplist-container ul {
	margin-left: 10%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 20px;
}
.shoplist-container ul li a {
	position: relative;
	transition: .3s;
}
.shoplist-container ul li a::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -23px;
	width: 15px;
	height: 15px;
	background-color: var(--main-co-color);
	border-radius: 50%;
}
.shoplist-container ul li a:hover {
	opacity: .5;
}
.store-opening {
	margin: 50px auto;
	font-size: 1.5rem;
}
@media (max-width: 767px) {
	.shop-title {
		margin: 80px auto 0;
	}
	.shop-title p {
		font-size: 1rem;
	}
	.shop-title .shop-title-jp {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.shop-title h3 {
		font-size: 2rem;
	}
	.shop-title .icon {
		margin-left: 0;
		margin-top: 10px;
	}
	.shop-title .icon img {
		width: 30px;
		height: 30px;
	}
	.shopinfo-contents {
		margin: 10px auto 0;
	}
	.shopinfo-contents {
		flex-direction: column;
	}
	.shopinfo-contents-img {
		margin: 30px auto;
		max-width: 95%;
	}
	.shopinfo-contents-text {
		width: 100%;
		margin-left: 0;
	}
	.shopinfo-contents dt {
		font-size: .8rem;
	}
	.shoplist-container {
		flex-direction: column;
	}
	.shoplist-container ul {
		display: block;
		margin-left: 50px;
	}
	.shoplist-container ul li {
		padding: 10px;
	}
}


/********************* 会社概要ページ *********************/
.company-list {
	width: 95%;
	margin: 80px auto 0;
	border-collapse: collapse;
}
.company-list tr {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
.company-list td,
.company-list th {
	padding: 20px 10px;
}
.company-list th {
	width: 30%;
	font-weight: normal;
	text-align: left;
}
@media (max-width: 767px) {
	.company-list {
		width: 100%;
	}
}


/********************* お問い合わせページ *********************/
#formWrap {
	width: 90%;
	margin: 0 auto;
	line-height: 120%;
}
table.formTable {
	margin: 0 auto;
	border-collapse: collapse;
}
table.formTable tr {
	border-bottom: 1px solid #bbb;
}
table.formTable th,
table.formTable td {
	padding: 20px 10px;
}
table.formTable th {
	text-align: left;
}
input, textarea {
  font-size: 16px;
}
input:focus, textarea:focus {
	transition: .1s;
}
::placeholder {
	color: #bbb;
}
select {
	margin: 10px;
	padding: 7px;
}
input[type="text"],
input[type="number"] {
	margin: 7px 3px;
	padding: 10px;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
	/*numberのスピンボタンを非表示にする*/
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	margin: 3px;
	padding: 18px 8px 15px;
	background: #efefef;
	border: none;
	border-radius: 5px;
}
input[type="checkbox"],
input[type="radio"] {
	margin-right: 3px;
}
.contact-form textarea {
	height: 12rem;
	padding: 7px 10px;
	line-height: 1.5;
}
table.formTable td span {
	display: inline-block;
	margin-right: 5%;
}
.contact-form div .required,
.required {
	display: inline;
	margin-right: 0;
	margin-left: 10px;
	padding: 2px 5px;
	background: red;
	border-radius: 5px;
	color: #fff;
	font-size: .7rem;
	font-weight: 400;
	white-space: nowrap;
}
input[type="submit"] {
	margin: 30px auto 0;
	padding: 15px 40px;
	background: #8e8e8e;
	border: none;
	border-radius: 5px;
	font-family: "Noto Sans JP", sans-serif;
	color: #fff;
	cursor: pointer;
	transition: .3s;
}
@media (hover) {
	input[type="submit"]:hover {
		background: var(--main-co-color);
	}
}
.contact-contents-text h3 {
	margin-bottom: 15px;
	font-size: 1.5rem;
	text-align: center;
}
.contact-contents-text p {
	text-align: center;
}
.notes {
	margin-top: 30px;
	color: red;
	font-size: .9rem;
}
@media (max-width: 767px) {
	#formWrap {
		width: 100%;
		margin: 0 auto;
	}
	table.formTable th,
	table.formTable td {
		display: block;
		padding: 10px;
	}
	table.formTable th {
		margin-top: 5px;
		border-bottom: 0;
	}
	form input[type="text"],
	form textarea {
		width: 100%;
		padding: 15px;
		font-size: 110%;
		display: block;
	}
	select {
		padding: 15px;
	}
	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		width: 100%;
		padding: 15px;
		display: block;
	}
	.contact-contents-text p {
		text-align: left;
	}
}


/********************* プライバシーポリシー *********************/
.privacy-contents p {
	margin: 50px auto 0;
}
.privacy-contents ul {
	margin: 10px 0 30px 40px;
	list-style: disc;
}